<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>My Blog</title>
</head>
<body>
    <div class="header">
        <div><a href="{% url 'post_list' %}"> 안녕 세상아 ~ ~ </a></div>
        <div><a href="{% url 'post_new' %}">+</a></div>
    </div>

    <div class="content-container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>