{% extends 'blog/base_page.html' %}

{% block content %}
    {% if post_details.published_date %}
    <div class="">
        <div class="details-header-row">
            <p class="date">{{ post_details.published_date }}</p>
            <div>
                <a href="{% url 'post_edit' primary_key=post_details.pk %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'post_delete' primary_key=post_details.pk %}"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        <h1 class="details-title">{{ post_details.title }}</h1>
        <p class="details-text">{{ post_details.text | linebreaksbr }}</p>
        <p class="details-author">By : {{ post_details.author }}</p>
    </div>
    {% endif %}
{% endblock %}