{% extends 'blog/base_page.html' %}

{% block content %}
    {% for post in posts %}
    <div class="row-content">
        {% if post.published_date %}
            <p class="date">Published: {{ post.published_date }} </p>
        {% else %}
            <p class="date">Created: {{ post.created_date }} </p>
        {% endif %}
        <h2><a href="{% url 'post_details' primary_key=post.pk %}"> {{ post.title }} </a></h2>
        <p> {{ post.text | linebreaksbr }} </p>
    </div>
    {% endfor %}
{% endblock %}