@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
body a{
    text-decoration: none;
}

.header{
    background-color: darkslateblue;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    font-style: bold;
}
.header a{
    color: lightsteelblue;
}
.header a:hover{
    text-shadow: 0.5px 1px lightsteelblue;
}

.content-container{
    display: flex;
    flex-direction: column;
    max-width: 65vw;
    margin-top: 20px;
}

.row, .row-content{
    padding-left: 20px;
    padding-bottom: 10vh;
}

.date{
    color: silver;
}
.author{
    font-style: italic;
    font-size: 20px;
}

.create-form button{
    float: right;
}

.create-form input{
    width: 100%;
}

.create-form textarea{
    width: 100%;
}

.details-title, .details-author{
    background-color: lavenderblush;
    border-radius: 10px;
    font-weight: bold;
}

.details-title, .details-text, .details-author{
    padding: 20px;
}

.details-header-row{
    display: flex;
    justify-content: space-between;
}

.fas {
    padding: 10px;
    color: dimgray;
    font-size: 20px;
}
.fas:hover{
    color: darkslategray;
}
